{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clark's Corner</title>
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>
        .product-info {
            display: flex;
        }
        .product-image {
            margin-right: 20px;
        }
        .product-image img {
            width: 500px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
        }
        .product-details a {
            color: inherit; 
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}">
            <h1>CLARK'S CORNER</h1>
        </a>
        <!-- List of categories -->
        <!-- Search bar -->
        <div class="search-container">
            <form action="{% url 'search' %}" method="get">
                <input type="text" placeholder="Search Products..." name="q">
                <button type="submit"><i class='bx bx-search-alt-2'></i></button>
            </form>
        </div>
        <div class="container"> 
            {% if user.is_authenticated %}
                <a href="{% url 'profile' seller_id=user.id %}">
                    <button class="log">{{ user.username }}</button>
                </a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">
                    <button class="log">Login</button>
                </a>
                <a href="{% url 'signup' %}">
                    <button class="reg">Sign Up</button>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="product-info">
        <div class="product-image">
            <img src="{% static product.p_image %}" alt="{{ product.p_name }}">
        </div>
        <div class="product-details">
            <h2>{{ product.p_name }}</h2>
            <p>Description: {{ product.p_description }}</p>
            <p>Price: ${{ product.price }}</p>
            <a href = "{% url 'profile' seller_id=product.seller.id %}">
                <p>Seller: {{ product.seller.clark_email }}</p>
            </a>
            {% if user.is_authenticated %}
                <form action="{% url 'add_to_cart' product_id=product.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
        </form>
            {% endif %}
        </div>
    </div>

</body>
</html>